.container{
    display: grid;
    height: 100vh;
    border: 3px solid black;
    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);*/
    /* grid-template: filas/columnas*/
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    grid-column-gap: 20px;
    row-gap: 20px;
}
.hijo{
    background-color: aqua;
    border: 1px solid red;
}
.hijo-1{
    grid-column: 1/2;
    grid-row: 3/4;
}
.hijo-2{
    grid-column: 2/3;
    grid-row: 1/3;
}
.hijo-3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.hijo-4{
    grid-column: 1/2;
    grid-row: 1/2;
}
.hijo-5{
    grid-column: 2/3;
    grid-row: 3/4;
}
