h1 {
    display: inline-block;
    /* padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;*/
    /*padding: 20px 40px 20px 40px;*/
    padding: 30px 60px;
    border: 8px solid black;
    border-style: solid;
    margin: 20px;
    background-color: tomato;
    z-index: 1;

}
h2 {
    display: inline-block;
    /* padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;*/
    /*padding: 20px 40px 20px 40px;*/
    padding: 30px 60px;
    border: 8px solid black;
    border-style: solid;
    margin: -20px;
    background-color: red;

}