.pizza{
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    border-radius: 60px;
    margin: 20px
}
.header{
    display: flex;
    font-size: 30px;
}
.imagen{
    display: flex;
    border-radius: 60px;
}