.top-text {
  text-align: end;
  margin-top: 10px;
}
.top-text a{
  color: black;
  display: inline-block;
  padding-right: 15px;
  font-size: 14px;
  font-family: arial, sans-serif;
  text-decoration: none;
}
.googleimg {
  text-align: center;
  aspect-ratio: auto 272/92;
}
.googleimg img{
  position: relative;
  top: 140px;
  bottom: auto;
  padding: 20px 0 10px;
  margin: -160px;  
}
.searching {
  text-align: center;
  border-radius: 0%;
  margin-top: -180px;
  margin-left: -100px;
  margin-right: -100px;
  margin-bottom: 10px;
}
.input-search {
  border:  2px solid black;
  background-color: white;
  border-style: ridge;
  margin: 30px;
}
.buttons{
  display: block;
  text-align: center;
}
.buttons a{
  text-align: center;
  margin: 40px 40px 40px 20px;
  background: #f1f0ee;
  padding: 15px 5px;
  border-width: 1px;
  padding-right: 20px;
  color: black;
  text-decoration: none;
  font-family: arial, sans-serif;
}
p{
  text-align: center;
  padding: 25px;
}
.Mexico{
  display: block;
  background-color: #dadce0;
  border-bottom-color: #70757a;
  color: #202124;
  text-align: start;
  font-family: arial, sans-serif;
  margin-top: 140px;
}
.bottom-line{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #dadce0;
  border-top-color: #70757a;
  text-align: justify;
  font-family: arial, sans-serif;
  margin-top: -20px;
}
.bottom-line a{
  text-decoration: none;
  color: #202124;
  text-size-adjust: 40px;

}
