body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Bandera{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 700px;
    border: 2px solid black;
}
.izquierda{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 30%;
    background-color: #003087;
}
.up-izquierda{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 45%;
    width: 90%;
    background-color: white;
}
.rojo{
    display: flex;
    justify-content: flex-start;
    height: 87%;
    width: 87%;
    background-color: #C8102E;
}
.rojo-1{
    display: flex;
    height: 87%;
    width: 87%;
    background-color: #C8102E;
}
.abajo-izquierda{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 45%;
    width: 90%;
    background-color: white;
}
.derecha{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 70%;
    background-color: #003087;
}
.up-derecha{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 45%;
    width: 95%;
    background-color: white;
}
.rojo-2{
    display: flex;
    height: 87%;
    width: 94%;
    background-color: #C8102E;
}
.abajo-derecha{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: end;
    height: 45%;
    width: 95%;
    background-color: white;
}
.rojo-3{
    display: flex;
    height: 87%;
    width: 94%;
    background-color: #C8102E;
}